<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <script src="https://kit.fontawesome.com/8372ccf781.js" crossorigin="anonymous" defer></script> <!-- Biblioteca de ícones -->
    <script src="/assets/js/padronizacao.js" defer></script>
</head>
<body>

    <!-- Contêiner para a imagem de fundo -->
    <div class="background-container"></div>

    <!-- Placeholder para o Header -->
    <div id="header-placeholder"></div>

    <!-- Conteúdo principal da página -->
    <main>
        <section class="welcome">
            <div class="banner-container">
                <img src="/assets/images/home/home-jifa.jpg" alt="Banner da home" class="home-banner">
                <div class="profile-container">
                    <div class="welcome-text">
                        <h1>Bem vinda!</h1>
                        <p>Zezinho</p>
                    </div>
                    <div class="profile-image-container">
                        <img src="/assets/images/home/profile-jifa.png" alt="Foto de perfil do usuario" class="profile-image">
                    </div>
                </div>
            </div>
            <div class="welcome-content">
                <h2>REALIZE SUA AVALIAÇÃO GRATUITA!</h2>
                <button class="location-button">
                    <img src="/assets/images/home/localizationicon.png" alt="Icone de localização">
                    USAR LOCALIZAÇÃO ATUAL
                </button>
            </div>
        </section>

        <div class="faq-feedback-container">
            <section class="faq">
                <h2>PERGUNTAS FREQUENTES</h2>
                <ul class="faq-list">
                    <li>Quais são os principais serviços oferecidos pela clínica?</li>
                    <li>Como posso agendar uma consulta na clínica?</li>
                    <li>A clínica aceita plano de saúde/convenio odontológico?</li>
                </ul>
            </section>

            <section class="feedback">
                <h2>Avalie o nosso atendimento e nos ajude a melhorar</h2>
                <div class="stars">
                    <img src="/assets/images/home/ico-avaliacao-1.png" alt="Estrela 1">
                    <img src="/assets/images/home/ico-avaliacao-1.png" alt="Estrela 2">
                    <img src="/assets/images/home/ico-avaliacao-1.png" alt="Estrela 3">
                    <img src="/assets/images/home/ico-avaliacao-1.png" alt="Estrela 4">
                    <img src="/assets/images/home/ico-avaliacao-5.png" alt="Estrela 5">
                </div>
                <button class="feedback-button">AVALIE AGORA</button>
            </section>
        </div>

        <section class="blog">
            <h2>Blog</h2>
            <div class="blog-images-container">
                <img src="/assets/images/home/blog1-jifa.png" alt="Primeira noticia do blog" class="blog-image">
                <img src="/assets/images/home/blog2-jifa.png" alt="Segunda noticia do blog" class="blog-image">
                <img src="/assets/images/home/blog3-jifa.png" alt="Terceira noticia do blog" class="blog-image">
            </div>
            <img src="/assets/images/home/ico-tres-pontos.png" alt="Continuidade da pagina" class="three-dots">
        </section>

    </main>

    <!-- Placeholder para o Footer -->
    <div id="footer-placeholder"></div>

    <script src="/assets/js/home.js" defer></script>
</body>
</html>