<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Template</title>
    <link rel="stylesheet" href="/assets/css/footer.css">
    <script src="/assets/js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/8372ccf781.js" crossorigin="anonymous" defer></script> <!-- Biblioteca de ícones -->
</head>
<body>
    <footer>
        <div class="social-media">
            <p>Siga nossas redes sociais</p>
            <div class="icons">
                <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="#" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="copyright">
            <p>© 2025 JIFA Odontologia</p>
            <p>Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
